<nav>
    <ul>
        <a href="/homepage"><li class="homes">HomeStore</li></a>
        <div class="other-items">
       <a href="/create-items"><li >Create an Item</li></a> 
        <a href="/item-Inventory"><li >View Item Inventory</li></a>
        <a href="/logout"><li>Logout</li></a>
        </div>
    </ul>
</nav>