<nav>
    <ul>
        <a href=""><li class="homes">HomeStore</li></a>
        <div class="other-items">
       <a href="/homepage"><li >Explore Page</li></a> 
        <a href="/cart"><li >Cart</li></a>
        
        <a href="/logout"><li>Logout</li></a>
        </div>
    </ul>
</nav>