<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>
    <h2>Enter Item Details to Create Item</h2>
    <div class="top-item-div">
        <form action="/create-items" method="POST" enctype="multipart/form-data">
            <div class="all-items itemsname">
                <label for="itemName" class="items">Item Name</label>
                <input type="text" name="item_Name" class="itemsInput">
            </div>
            <div class="all-items itemsquantity">
                <label for="itemsdescription" class="items"> quantity</label>
                <input type="text" name="quantity" class="itemsInput">
            </div>
            <div class="all-items itemPrice">
                <label for="itemPrice" class="items">Price</label>
                <input type="text" name="price" class="itemsInput">
            </div>
            <div class="all-items itemDesc">
                <label for="itemName" class="items">Description</label>
                <input type="text-area"  row="10" col ="50" name="Description" class="itemsInput">
            </div>
            <div class="all-items itemImage">
                <label for="itemName" class="items">upload Image</label>
                <input type="file" name="image" class="itemsInput">
            </div>
            <div class="all-items submit">
                <input type="submit"  value="create" class="itemsInput">
            </div>
        </form>
    </div>
</body>
</html>