<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/nav.ejs') %>
    <div class="my-items">
    <a href="/create-items">Add another Item</a>
    <a href="/homepage">Go to Explore Page</a>
</div>
</body>
</html>