<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head2.ejs') %>
    </head>
<body class="signupbody">
    <%- include ('../partials/nav2.ejs') %>
    <header class="signupheader"><p>Welcome to my online store</p></header>
    <div class="regular-user-signup">
        <button class="userssignup"><a href="/usersignup"> Sign up as a user</a></button>
        <button class="adminsignup"><a href="/signupadmin">Sign up as an Admin</a></button>
    </div>
</body>
</html>